

.app{
  display: flex;
  height: 100vh;
  width: 100vw;
}

body{
  background: #E8D7F5;
  height: auto;
  width: auto;
  margin: 0 ;
}
.main-part {
  width: 80%;
  border-radius: var(--Spacing-8, 8px);
  background: rgba(255, 255, 255, 0.72);
  box-shadow: 0px 2px 4px 0px rgba(45, 64, 83, 0.08), 0px 0px 0px 1px rgba(45, 64, 83, 0.04);
  margin: 7px;
  position: relative;
  overflow-y: auto; 
}


.sidebar{
  display: flex;
  padding-top: 1%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2%;
  background: #E8D7F5;
  overflow-y: auto; 
  overflow-x: hidden;
  min-width: 200px;
  width: 20%;
}



.new-chat-button{
  height:41px;
  width:80%;
  display: flex;
  padding: 1%;
  justify-content: flex-start;
  gap: 4px;
  border-radius: 8px;
  background:  #8e5df884;
  align-items: center;
  border:none;
  margin:  0 16px 0 16px;
}

.new-chat-button:hover {
  background: #b053f75e;
  cursor: pointer;
}

.new-chat:hover{
  background: #ddc5ef;
  cursor: pointer;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 19px;
  width:140px;
  margin-left: 20px;
}

.new-chat-button-img{
  height: 18px;
}

.chat-name{
  margin: 8px 0px ;
  font-size: 14px;
}

.today-line{
  width:100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: flex-start;
  border-radius: 8px;
  background: #E8D7F5;
  border:none;
  margin: 16px 0 16px 0;
  font-size: 14px;
}

.access-chats{
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: #E8D7F5;
  padding: 0;
  align-items: center;
  border:none;
}


#input-container{
  width: 80%;
  height: 60px;
  border: none;
  background: #E8D7F5;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  position: absolute;
  bottom: 2px;
  justify-content: space-around;
  transform: translate(-50%);
  left: 50%;
  
}

.enter{
  height: 50px;
  width: 50px;
  border: none;
}

.text-input{
  background: #E8D7F5;
  border: none;
  width:76%;
  border-radius: 17px;
  padding-inline: 0px;
  padding-block: 0px;
  outline: none;
  font-size: 17px;
  margin: 10px;
}

.send-button{
  border: none;
  background: #E8D7F5;
}

.send-button:hover{
  background: #d9c1eb77;
}



.answers-container{
  background: #f1e5f9;
  height: 70%;
  border-radius: 17px;
  margin: auto 100px 50px 200px;
 align-items: flex-start;
  display: flex; 
  flex-direction: column; 

  overflow-y: auto;
}

.answer-text{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


.loader {
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background: 
    linear-gradient(#000 0 0) left ,
    linear-gradient(#000 0 0) right;
  background-repeat: no-repeat; 
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}

.loader::before {
  content:"Loading";
}

.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: 
   linear-gradient(90deg,#000 4px,#0000 0 calc(100% - 4px),#000 0) bottom            /22px 20px,
   linear-gradient(90deg,red  4px,#0000 0 calc(100% - 4px),red  0) bottom 10px left 0/22px 6px,
   linear-gradient(#000 0 0) bottom 3px left 0  /22px 8px,
   linear-gradient(#000 0 0) bottom 0   left 50%/8px  16px;
 background-repeat: no-repeat;
 animation: l9-1 2s infinite;
}

@keyframes l9-0{
  0%,25%    {background-size: 50% 100%}
  25.1%,75% {background-size: 0 0,50% 100%}
  75.1%,100%{background-size: 0 0,0 0}
}

@keyframes l9-1{
  25%   { background-position:bottom, bottom 54px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  25.1% { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  50%   { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75%   { background-position:bottom, bottom 54px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75.1% { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
}

.material-symbols-outlined {
  align-items: right;
  background-color: #E8D7F5;
  border: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24

  
}

.answers-container p{
  margin: 10px 0 0 10px;
}

.delete-chat-button{
  border: none;
  background: transparent;
}
